<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.kk.customview">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="com.android.hardware.Camera"/>
    <uses-feature android:name="com.android.hardware.Camera.autofocus"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon_cat"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/KKTheme">

        <receiver android:name=".appwidget.KKAppWidgetNight"
            android:label="@string/appwidget_night">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/k_k_app_widget_info_night" />
        </receiver>
        <receiver android:name=".appwidget.KKAppWidget"
            android:label="@string/appwidget_day">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/k_k_app_widget_info" />
        </receiver>

        <!--
 <meta-data
            android:name="MTA_CHANNEL"
            android:value="${MTA_CHANNEL_VALUE}"/>
        -->
        <activity android:name=".activity.HomeTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cn.kk.base.activity.CommentActivity" />
        <activity android:name=".ui.LottieAnimActivity" />
        <activity android:name=".chapter.c1.DrawBasicActivity" />
        <activity android:name="cn.kk.elementary.anim.view.AnimSampleActivity" />
        <activity android:name=".chapter.ViewAnimIntrosActivity" />
        <activity android:name=".chapter.AnimInterpolatorActivity" />
        <activity android:name="cn.kk.elementary.anim.property.value.ValueAnimationActivity" />
        <activity android:name="cn.kk.elementary.anim.property.value.interpolation.InterpolationActivity" />
        <activity android:name=".ui.cool300.chapter1.Simple_005" />
        <activity android:name=".ui.cool300.chapter1.Simple_009" />
        <activity android:name=".ui.cool300.chapter1.Simple_010" />
        <activity android:name=".ui.cool300.chapter1.Simple_022" />
        <activity android:name=".ui.cool300.chapter3.Simple_063" />
        <activity android:name=".ui.cool300.chapter3.Simple_071" />
        <activity android:name=".ui.cool300.chapter3.Simple_072" />
        <activity android:name=".ui.cool300.chapter5.Simple_143" /> <!-- system ui -->
        <activity android:name=".ui.cool300.chapter8.SimpleIntentActivity" />
        <activity android:name=".ui.system.ImageViewActivity" />
        <activity android:name=".ui.system.DialogActivity" />
        <activity android:name=".ui.system.ImmersiveModeActivity" />

        <activity android:name=".ui.hencoder.GraphicLocationAndSizeMeasureActivity"/>
        <activity android:name=".activity.NormalListActivity"/>
        <activity android:name=".activity.NormalViewActivity"/>
        <activity android:name=".activity.NormalTabActivity"/>
        <activity android:name=".activity.NormalWebViewActivity"/>
        <activity android:name=".activity.NormalMarkDownViewActivity"/>

        <activity
            android:name=".ui.system.CoordinatorLayoutActivity"
            android:theme="@style/Theme.Default" />
        <activity
            android:name=".ui.system.CoordinatorLayoutAndCollapsingToolbarLayoutActivity"
            android:theme="@style/Theme.Default" />
        <activity
            android:name=".ui.system.CustomBehaviorActivity"
            android:theme="@style/Theme.Default" />
        <activity android:name=".ui.system.StatusBarActivity" />
        <activity android:name=".ui.system.LineHeightActivity" />
        <activity android:name=".ui.system.TextViewWidthEnableChangeActivity" />
        <activity android:name=".ui.system.TextViewWithDrawableActivity" />
        <activity android:name=".ui.system.IgnoreSystemBigFont" />
        <activity android:name=".ui.system.HtmlText" />
        <activity android:name=".ui.system.EditTextSample" />
        <activity android:name=".ui.system.AppWidgetSample" /> <!-- Material design UI -->
        <activity android:name=".ui.system.material.MaterialActivity" />
        <activity android:name=".ui.system.material.CardViewActivity" />
        <activity android:name=".ui.system.drawable.DrawableSample" />
        <activity android:name=".ui.system.drawable.MultiDrawable" />
        <activity
            android:name=".ui.system.material.ToolbarActivity"
            android:theme="@style/KKTheme" />


        <!--work-->
        <activity android:name=".ui.work.TimeProgressActivity" />
        <activity android:name=".ui.work.FlickerActivity" />
        <activity android:name=".ui.work.RecyclerViewDemoActivity" />
        <activity android:name=".ui.work.MenuDemoActivity" />
        <activity android:name=".ui.work.ExpandViewTouchDemo" />
        <activity android:name=".activity.work.WebViewOperaLogsToClientActivity" />
        <activity android:name=".activity.work.SaveLogActivity" />
        <activity android:name=".activity.work.WebViewScrollCapActivity" />

        <!--arch-->
        <activity android:name=".activity.arch.MvcActivity"/>
        <activity android:name=".activity.arch.MvpActivity"/>
        <activity android:name=".activity.arch.MvvmActivity"/>
        <activity android:name=".activity.arch.JetPackActivity"/>
        <activity android:name=".activity.arch.AndroidSysArchActivity"/>

        <!--book-->
        <activity android:name=".activity.book.BookDetailActivity"/>

        <!--NDK-->
        <activity android:name=".activity.ndk.NdkHomeActivity"/>

        <!--more-->
        <activity android:name=".activity.more.WorkActivity"/>
        <activity android:name=".activity.more.NetActivity"/>
        <activity android:name=".activity.more.BlogsActivity"/>
        <activity android:name=".activity.more.LinuxActivity"/>
        <activity android:name=".activity.more.GitActivity"/>
        <activity android:name=".activity.more.audio.AudioActivity"/>
        <activity android:name=".activity.more.video.VideoActivity"/>
        <activity android:name=".activity.more.ZongHeActivity"/>

        <!--more Linux-->
        <activity android:name=".activity.more.MixDevActivity"/>

        <!--more Audio-->
        <activity android:name=".activity.more.audio.AudioBasicActivity"/>

        <!--Audio & Video-->
        <activity android:name="cn.kk.av.task_list.Task1DrawPicture"/>
        <activity android:name="cn.kk.av.task_list.Task2AudioRecord"/>
        <activity android:name="cn.kk.av.task_list.task3.Task3CameraPreview"/>
        <activity android:name="cn.kk.av.task_list.Task4MediaExtractor"/>
        <activity android:name="cn.kk.av.task_list.task7.Task7MediaCodecAAC"/>
        <activity android:name="cn.kk.av.task_list.task8.Task8MediaCodecH264"/>
        <activity android:name="cn.kk.av.task_list.task15.Task15SimplePlayer"/>

        <provider
            android:exported="false"
            android:grantUriPermissions="true"
            android:authorities="cn.kk.search.file.provider"
            android:name="androidx.core.content.FileProvider">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>