<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.kk.elementary">

    <application>
        <activity android:name="cn.kk.elementary.anim.property.value.evaluator.EvaluatorActivity"/>
        <activity android:name=".anim.property.object.ObjectAnimActivity"/>
        <activity android:name=".anim.property.object.AnimatorSetActivity"/>
        <activity android:name=".anim.property.object.AnimatorSetDualPlayFunActivity"/>
        <activity android:name=".anim.property.object.AnimatorSetBuilderActivity"/>
        <activity android:name=".anim.property.object.AnimatorSetListenerActivity"/>
        <activity android:name=".anim.property.object.AnimatorSetCommonFuncsActivity"/>
        <activity android:name=".anim.property.object.AnimatorSetPathSampleActivity"/>
    </application>
</manifest>